name: CI

on:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ubuntu-latest
    container: vitasdk/vitasdk-softfp:latest
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        git clone https://github.com/frangarcj/opensles
        make -C opensles/libopensles -j$(nproc) install
    - name: Get Information Variables
      id: core
      run: |
        echo "::set-output name=sha8::$(echo ${GITHUB_SHA} | cut -c1-8)"
    - name: Compile project
      run: |
        mkdir build
        cd build
        cmake ..
        make -j$(nproc)
    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v2
      with:
        name: FF3-${{ steps.core.outputs.sha8 }}.vpk
        path: build/FF3.vpk
